@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

@font-face {
    font-family: 'Tumbly';
    src: url('../../docs/fonts/tumbly.otf') format('truetype');
}

body {
    display: flex;
    background-color: #F4F5F7;
    background: linear-gradient(23deg, #ffffff 65%, #3D3562 40%);
    background-repeat: no-repeat;
}

main {
    margin-left: 6%;
    width: 75%;
    margin: 1% auto;
}

.titulo_page {
    font-family: 'Tumbly';
}

.cont_titulo {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.cont_titulo i {
    font-size: 25pt;
    margin-right: 10px;
}

.model {
    display: none;
    visibility: hidden;
}

.subtotal {
    font-size: 14pt;
}

.cont_nome_titulo p {
    font-size: 20pt;
}

.titulo p {
    text-align: center;
    padding-right: 6px;
}

.titulo i {
    font-size: 27pt;
}

.cont_nome_titulo {
    display: flex;
    align-items: center;

}


/* SESSÃO DOS CARDS  */

.cards_informacoes {
    margin-top: 3%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 9%;
}

.cards {
    /* box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.185); */
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    margin-right: 4%;
    /* background-color: white; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082); */

}

.cards img {
    width: 28%;
    margin: 0 auto;
    margin-top: -20px;
}

.cards p {
    text-align: center;
    margin-top: 10px;
}

.linha_1 {
    width: 70%;
    margin: 2% auto;
}

.linha_2 {
    width: 50%;
    margin: 0 auto;
}

.cards span {
    /* border: 1px solid #00000028; */
    width: 20%;
    text-align: center;
    border-radius: 25px;
    margin: 3% auto;
    color: #000000;
    font-weight: bold;
}


/* GRAFICOS  */
.botao_criar_eventos {
    margin: 2% 0 -1% auto;
    width: 10%;
}

.cont_botao_criar_eventos {
    background-color: #0178AC;
    color: white;
    padding: 7px;
    text-align: center;
    font-size: 12pt;
    border-radius: 10px;
    cursor: pointer;
}

.cont_botao_criar_eventos:hover {
    background-color: #164e65;


}

.graficos {
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.graficos div {
    width: 45%;
    margin-top: 2%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.151);
    background-color: white;
    padding: 20px;
}

.graficos div:nth-child(2) {
    width: 15%;
    background-color: white;

    margin-top: 20px;
}

.graficos div p {
    color: rgba(88, 88, 88, 0.671);
    margin-top: 5px;
}

.linha_conteudo {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    border-color: rgba(253, 253, 253, 0.658);
}

.stt_abertos {
    color: rgb(19, 162, 8);
    text-decoration: underline;
}

.stt_finalizados {
    color: red;

}

/* MODAL CRIAR MANUTENCAO */
.cont_modal_criar_evento {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    left: 20%;
    padding: 10px;
    box-shadow: 0px 0px 10px #4b4b4b2e;
    background-color: white;
}

.cont_criar_evento {}

.cont_adicionar_servicos {
    border-left: 1px solid black;
    overflow-y: scroll;
    width: 45%;
    padding: 10px;
    height: 100%;
}

.cont_modal_criar_evento h3 {
    text-align: center;
    margin-bottom: 0.5%;
    margin-top: 20px;
    font-size: 17pt;
}

.cont_modal_criar_evento hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1%;
}

.inps {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2% auto;
    text-align: center;
    justify-content: center;
    text-align: start;
}

.inps p {
    margin-bottom: 10px
}

.inps input {
    border-radius: 20px;
    padding: 5px;
    border: none;
    border: 1px solid black;
}


.icon_input {
    border: 1px solid rgba(0, 0, 0, 0.39);
    padding: 0px;
    margin-top: 4px;
    height: 70%;
    width: 20vw;
    border-radius: 100px;
    padding-top: 5px;
}

.icon_input input {
    width: 90%;
    height: 90%;
    border: none;
    margin-left: 2px;
}

.icon_input input:focus {
    outline: 0;
    border-bottom: 1px solid black;
}

.cont_btns_preview_criar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.cont_btns_preview_criar button {
    padding: 5px 35px;
    background-color: #0178AC;
    color: white;
    border: none;
    border-radius: 0px;
    margin-bottom: 16px;
    font-size: 11pt;
}

.cont_btns_preview_criar button:nth-child(1):hover {
    background-color: #d2d2d2;
}

.cont_btns_preview_criar button:nth-child(1) {
    cursor: pointer;
}


/* MODAL EVENTOS  */

.modal_Eventos {
    /* position: fixed; */
    width: 65%;
    margin: 3% auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
}

.modal_Eventos h3 {
    text-align: center;
    font-size: 20pt;
    margin-bottom: -5px;
    margin-top: 25px;
    margin-left: 0px;
}

.cont_img_banner {
    width: 99%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
}

.cont_img_banner img {
    width: 100%;
    object-fit: cover;

}

.cont_img_banner i {
    margin-left: -40px;
    color: black;
    background-color: white;
    height: 5%;
    margin-top: 20px;
    padding: 5px;
    font-size: 20pt;
}

.cont_icon_user {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8px;
}

.img_icon {
    width: 9%;
    margin: 0 auto;
}

.sections_eventos {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.sections_eventos div {
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}

.sections_eventos p {
    margin-left: 10px;
}

.sections_eventos i {}

.line_sections {
    width: 95%;
    margin: 1% auto
}

.cont_btn_criar_evento {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.btn_criar_evento {
    padding: 5px 35px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    background-color: #0178AC;
    color: white;
    font-weight: 500;
    font-size: 12pt;
}

.btn_add {
    padding: 5px 25px;
    border-radius: 20px;
    border: none;
    background-color: #212121;
    color: white;
}

.etapa {
    /* border: 1px solid rgba(0, 0, 0, 0.29); */
    width: 100%;
    margin: 2% auto;
    text-align: center;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.492);
}


.etapa h3 {
    font-size: 18pt;
}

.cont_btns_preview_criar {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.cont_btns_preview_criar button {
    padding: 5px 45px;
    border-radius: 5px;
    border: none;
    background-color: #0178AC;
    color: white;
    font-size: 11pt;
    margin-top: 1%;
    margin-left: 40px;
    font-size: 11pt;
}

.cont_btns_preview_criar button:nth-child(1) {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* border: 1px solid black; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
}



.inps_modal {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

.convidado {
    background-color: #212121;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.convidado div {
    display: flex;
    color: white;
    padding: 10px;
}

.convidado div input {
    margin-left: 15px;
    width: 12vw;
    border-radius: 0px;
    border: 0;
    padding-left: 10px;
}

.convidado div input:focus {
    outline: 0;
}

.btn_Adicionar {
    margin: 1% auto;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #212125;
    border: none;
    color: rgb(255, 255, 255);
    padding: 3px 25px;
}

.btn_Adicionar:nth-child(2) {
    margin-top: 12px;
}

.inps_modal img {
    width: 9%;
    margin-left: 5px;
}

.inps_modal P {
    margin-left: 5px;
}

.date_hour div {
    border-radius: 30px;
    color: black;
    padding: 5px 0px;
    width: 60%;
    font-size: 11pt;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-right: 10px;
}


.date_hour div img {
    width: 8%;
}

.linha_final_modal {
    width: 30%;
    margin: 0 auto;
}

.linha_final_modal2 {
    width: 50%;
    margin: 2% auto;
}

.inps_modal {
    text-align: center;
    margin-top: 15px;
}

.title {
    margin-top: 19px;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 5px;
}

.nome_produtor {
    font-weight: 700;
}

.card_convidado {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 10px;

}

.cont_card_locacao {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.card_locacao {
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.284);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.btn_acao_remover_card {
    margin-top: 8%;
}

.card_locacao h5 {
    font-size: 11pt;
}

.card_locacao span {
    width: 100%;
}

.card_locacao hr {
    width: 70%;
    margin: 2% auto;
}

.cont_locacao {
    height: 10vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.311);
}

.cont_card_convidados {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.492);
    margin: 10px;
}

.cont_convidados {
    height: 10vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.311);
}

.cont_convidados_inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}

.cont_convidados_inputs div {
    margin: 15px;
}


.convidados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data div {
    margin: 5px;
}

.cont_location {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_location {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* Definir altura máxima da tabela */
.table-container {
    width: 95%;
    padding: 20px;
    margin: -2% auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
}

.inf_tables {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;

}

.inf_tables h3 {
    font-size: 25pt;
    font-weight: 400;

}

.inf_tables p {
    margin-bottom: 20px;
}

.tables {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.tables p {
    margin-top: 20px;
    margin-right: 10px;
}

.tables div {
    display: flex;
    align-items: center;
}



.tables button {
    padding: 10px 25px;
    border: none;
    background-color: #3D3562;
    color: white;
    border-radius: 5px;
}

/* Estilizar a tabela */
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    padding: 20px;
}

th,
td {
    padding: 8px;
    margin: 20px;
}

td span {
    margin-left: 10px;
}

tbody div {
    background-color: #000000;
    padding: 5px;
    object-fit: cover;
    width: 2vw;
}

tbody div img {
    width: 100%;

}

th {
    background-color: #F3F6F9;
    padding: 10px;
    color: #a0a0a3;
    font-weight: 400;
}

th:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

th:last-child {
    border-radius: 0px 10px 10px 0px;
}

thead {
    border: none;
    width: 100%;
}

tbody {
    margin-top: 20px;
    height: 40vh;
    display: block;
    overflow-y: auto;
    color: purple;
    background-color: white;
    text-align: center;
}

tbody img {
    width: 1.5vw;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

tbody tr td img {
    margin-left: 10px;
}

tbody::-webkit-scrollbar {
    width: 5px;
    /* Largura da barra de rolagem */
}

tbody::-webkit-scrollbar-thumb {
    background-color: #3D3562;
    /* Cor do indicador de rolagem */
    border-radius: 10px;
    /* Raio de borda do indicador de rolagem */
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do indicador de rolagem quando hover */
}

.cont_table_user {
    margin-top: 5%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.inf_users {
    width: 27%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);

}

/* .inf_users img {
    width: 8vw;
    height: 15vh;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    margin-top: -35px;
    border-radius: 90%;
} */



.icon_user {
    display: block;
    margin: 10px auto;
    width: 8vw;
    height: 15vh;
    margin: 0 auto;
    margin-top: -10%;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 2px;
}

.details {
    text-align: center;
}

.details button {
    padding: 8px 25px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: #3D3562;
    color: white;
}

.details input {
    padding-left: 10px;
}

.cont_busca_filtro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
    margin-bottom: 20px;
}

.cont_busca_filtro div:nth-child(1) {
    display: flex;
    align-items: center;
}

.cont_busca_filtro select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #3D3562;
    margin-left: 10px;
}

.cont_busca_filtro select:valid {
    outline: 0;
    border: 1px solid #3D3562;
}


.search_busca {
    width: 33%;
    border: 1px solid #3D3562;
    margin-right: 3%;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
}

.search_busca i {
    font-size: 14pt;
    margin-left: 8px;
    margin-top: 3px;
}

.search_busca input {
    border: none;
    height: 1.5vh;
    width: 100%;
    margin-left: 10px;
}

.search_busca input:focus {
    outline: 0;
}

.details {
    height: 75%;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.121);
    margin: 10px;
    border-radius: 10px;
}

.details h2 {
    margin: 1% auto;
    margin-bottom: 3%;
}

.cont_btn_alterar {
    width: 30%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
}

.cont_btn_alterar button {
    padding: 7px 25px;
    background-color: #3D3562;
    color: white;
    border: none;
    border-radius: 15px;
}

.modal_parceria {
    position: fixed;
    width: 40%;
    margin-top: 1%;
    margin-left: 17%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    padding: 5px;
    background: linear-gradient(25deg, #3D3562 12%, #ffffff 10%);

}

.modal_parceria h3 {
    font-family: 'Tumbly';
    font-size: 24pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal_parceria hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.modal_parceria .inps {
    width: 50%;
}

.modal_parceria .inps input {
    width: 100%;
    height: 3.5vh;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.modal_parceria .inps input:focus {
    outline: 0;
}

.modal_parceria .inps div {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.164);
    padding: 5px;
    border-radius: 10px;

}


.modal_parceria .inps div img {
    width: 10%;
    margin: 0px 10px 0px 10px;
}

.inps_status {
    display: flex;
    justify-content: center;
}


.inps_status p {
    margin-left: 10px
}


.cont_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.cont_btn div {
    width: 50%;
    margin: auto 0 auto auto;
}

.cont_btn img {
    width: 5%;
    object-fit: cover;
    margin: auto 0 auto auto;
}

.cont_btn button {
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 7px 25px;


}

.cont_btn button:nth-child(1) {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;

}

.cont_btn button:nth-child(2) {
    background: #3D3562;
    color: white;

}


.btn_criar_eventos_p_parceria,
.btn_conferir_evento {
    background: #3D3562;
    color: white;
}


@media screen and (max-width: 1000px) {


    body {
        width: 220%;
        display: flex;
        background-color: #F4F5F7;
        background: none;
        background-repeat: no-repeat;
    }

    main {
        width: 100%;
        margin: 1% auto;
        margin-left: 18%;

    }

    .cont_titulo {
        margin-top: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: #3D3562;
    }

    .cont_titulo i {
        font-size: 25pt;
        margin-right: 10px;
    }

    tbody img {
        width: 6vw;
    }

    .modal_parceria {
        position: fixed;
        width: 40%;
        margin-top: 1%;
        margin-left: 17%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
        padding: 5px;
        background: linear-gradient(25deg, #3D3562 12%, #ffffff 10%);
    
    }

    .modal_parceria .inps {
        width: 80%;
    }
    
    .modal_parceria .inps input {
        width: 100%;
        height: 3.5vh;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
    }
    
    .modal_parceria .inps input:focus {
        outline: 0;
    }
    
    .modal_parceria .inps div {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.164);
        padding: 5px;
        border-radius: 10px;
    
    }
    
    
    .modal_parceria .inps div img {
        width: 10%;
        object-fit: contain;
        margin: 0px 10px 0px 10px;
    }

    .cont_btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        margin-top: 30px;
    
    }
    
    .cont_btn div {
        width: 90%;
        margin: auto 0 auto auto;
    }
    
    .cont_btn img {
        width: 10%;
        object-fit: cover;
        margin: auto 0 auto auto;
    }
}